:root {
  --bg-color: #cfcfcf;
  --inverted-bg-color: #090949;
  --primary-color: #1123c9;
  --secondary-color: #779ceb;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}

